{% extends 'evet/base.html' %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Turnos</a>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <input type="date" class="form-control mr-sm-2" name="searchdate">
        </div>
            <button type="submit" class="btn btn-success">Buscar</button>
    </form>
  </div>
</nav>

<p>

    <div class="row">

    <div class="container">
    <h3>Horarios</h3>
        <hr>
        {% load filtro %}

        <div class="calendar_entry col-sm-12 ">
        {% for value in 7|range:13 %}

            <p class="container">
                <div class="col-sm-4 container"><h5><kbd>{{value}} hs</kbd></h5>
                <hr>
                <a href="http://www.google.com">· Lalo, Razon: Vacunas.</a><br>
                <a href="http://www.google.com">· Ramon, Razon: Radiografia.</a>
                </div>
            </p>
        {% endfor %}
   </div>

 <div class="calendar_entry col-sm-4 ">
        {% for value in 13|range:18 %}

            <p class="container">
                <div class="col-sm-12 container"><h5><kbd>{{value}} hs</kbd></h5>
                <hr>
                <a href="http://www.google.com">· Lalo, Razon: Vacunas.</a><br>
                <a href="http://www.google.com">· Ramon, Razon: Radiografia.</a>
                </div>
            </p>
        {% endfor %}
           </div>

        <div class="calendar_entry col-sm-4 ">
        {% for value in 18|range:22 %}

            <p class="container">
                <div class="col-sm-12 container"><h5><kbd>{{value}} hs</kbd></h5>
                <hr>
                <a href="http://www.google.com">· Lalo, Razon: Vacunas.</a><br>
                <a href="http://www.google.com">· Ramon, Razon: Radiografia.</a>
                </div>
            </p>

        {% endfor %}
            </div>

    </div>
    </div>
 </p>
{% endblock %}
<!--
<div class="container">
    <p>

    <div class="row">
        {% for turno in turnos %}
            {% include 'evet/_calendar_entry.html' %}
        {% endfor %}
    </div>
    </p>
</div>
-->



